 
        <div class="footer">
            <div class="social-icons mx-auto text-center">
                <img src="/images/icon-facebook.svg">
                <img src="/images/icon-instagram.svg">
                <img src="/images/icon-twitter.svg">
            </div>
            <hr style="background-color: #F0F4F7;">
            <p class="mx-auto text-center">
                Always read the label. Follow the directions for use. If symptoms persist, change or worsen talk to your
                health professional. Supplements may only be of assistance if dietary intake is inadequate.<br>
                This email was intended for <a href=""> matteo@matteogrand.com</a> and you are receiving this email because you have
                subscribed to emails or became a member of <a href=""> www.blackmores.com.au </a> <br>
                <a>Update your Blackmores profile</a>
                We take our customers' privacy seriously. Click here to view our Privacy Policy.<br>
                Blackmores Ltd. 20 Jubilee Avenue, Warriewood NSW 2012 | ABN 35 00‌9 713 437 <br>
                This email was sent to you by <a href="">www.blackmores.com.au</a>
                Click here to unsubscribe from these emails.
            </p>
        </div>

    