<nav class="navbar navbar-expand-sm bg-clr navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#"><img src="images/logo-blackmores-white.svg"></a>
  
  <!-- Links -->
 
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Naturopath</a>
    </li>
  </ul>
 
</nav>
 
