 
<div class="product">
   <hr>
    <table width="100%">
        <tr>
            <td class="product-img" width="18%" >
                <center>
                <img src="images/product-acidophilus-bifidus.png">
                </center>
            </td>
            <td class="product-title" width="62%">
                <h4>Bio ACE® Excell</h4>
                <h5>1 bottle / 150 capsules</h5>
            </td>
            <td class="product-price" width="20%">
                <h4>$35.48</h4>
                <del><h5>$59.14</h5></del>
            </td>
        </tr>
    </table>
 <hr>

</div>
 