<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/path/to/handlebars.min.js"></script>
    <title>{{ title }}</title>
</head>

<body>
    <h1>EPIC 4 PAGES</h1>
    <ul>
        <li><a href="payment_unsuccessful"> payment unsuccessful </a>
        </li>
        <li><a href="welcome">  welcome </a>
        </li>
         <li><a href="Thankyou"> Thankyou </a>
        </li>
         <li><a href="Action"> Call to Action </a>
        </li>
    </ul>
</body>

</html>