.action-banner {
    background-color: #fff;
}

.text-banner{
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 45px;
    padding-bottom: 40px;
}
.color-banner
{
    background-color: #EFF3F7;
    border:1px solid #fff;
}
.text-banner p {
    color: #4a4a4a;
    font-size: 14px;
    line-height: 1.43;
}
.Quote-Banner
{
    background-color: #7fbdbe;
    padding-left: 107px;
    padding-right: 107px;
    padding-top: 67px;
    padding-bottom: 38px;
    color: #fff;
}
.Action-button{
    background-color: #7fbdbe;
    padding-left: 35%;
    padding-right: 35%;
    padding-bottom: 30px;
}
















/*------------------------------------------*/

@media screen and (min-width: 1200px) {}

/************ Landscape tablets and medium desktops ******************/

@media screen and (min-width: 992px) and (max-width: 1199px) {}

/**************   Portrait tablets and small desktops **************/

@media screen and (min-width: 768px) and (max-width: 991px) {}

/************** Landscape phones and portrait tablets ************************/

@media screen and (max-width: 767px) {}

/********************* Portrait phones and smaller ************************8*/

@media screen and (max-width: 575px) {
    .text-banner{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;    
    }
    .Quote-Banner
    {
        
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
      
    }
    .Action-button{
       
        padding-left: 25%;
        padding-right: 25%;
        padding-bottom: 30px;
    }
   
    .h1-height-1{
        margin-bottom: 50px !important;    
     }
}