@font-face {
  font-family: 'avenirfont';
  src: url('/fonts/AvenirNext-Bold.woff') format('woff'), url('/fonts/AvenirNext-Bold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'avenirfont';
  src: url('/fonts/AvenirNext-Medium.woff') format('woff'), url('/fonts/AvenirNext-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'avenirfont';
  src: url('/fonts/AvenirNext-Regular.woff') format('woff'), url('/fonts/AvenirNext-Regular.woff2') format('woff2');
  font-weight: 400;
}

body
{
   background-color: #F0F4F7;
   font-family: 'avenirfont';
}
.clear
{
  clear: both;
}
h1{
  font-family:"avenirfont";
  font-size: 36px;
  font-weight: 600;
}
h2
{
  font-family:"avenirfont";
  font-size: 30px;
  font-weight: 600;
}
h3{
  font-family:"avenirfont";
  font-size: 20px;
  font-weight: 600;
}
h4{
  font-family:"avenirfont";
  font-size: 16px;
  font-weight: 600;
}
h5{
  font-family:"avenirfont";
  font-size: 14px;
  font-weight: 600;
} 








/*------------------------------------------*/

@media screen and (min-width: 1200px) {}

/************ Landscape tablets and medium desktops ******************/

@media screen and (min-width: 992px) and (max-width: 1199px) {}

/**************   Portrait tablets and small desktops **************/

@media screen and (min-width: 768px) and (max-width: 991px) {}

/************** Landscape phones and portrait tablets ************************/

@media screen and (max-width: 767px) {}

/********************* Portrait phones and smaller ************************8*/

@media screen and (max-width: 575px) {
  h1{
    font-size: 24px;
  }
}